extends layout

block pagecss
  link(rel="stylesheet", href="/static/css/adminpost.css")

block pagejavascript
  script(src="/js/administration.js")

block content
  noscript
    p It looks like you have javascript disabled. Javascript is required for many administrative tasks :( Please
      | enable it if you can.
  div#options
    h3 Admin Panel
    a(href="/admin/logout")#logout Logout 
    a(href="/admin/settings")#settings Settings
  a.btn.btn-lg.btn-success#newPost(href="/admin/create") Create New Post

  div#posts
    - if (posts.length == 0) {
      h4 No posts found.
      h4 You can create a 
        a(href="/admin/create") new one.
    - }

    each post in posts
      div(id="post#{post.id}", class="post")
        h3
          a(href="/admin/edit/#{post.id}").postTitle= post.title
        h6.text-muted.small Last modified on #{post.dateModified}
        p!= post.content
        h4 
          a(href="#") #{post.comments.length} comments
        a.edit(href="/admin/edit/#{post.id}") Edit
        a.delete Delete

  - if (more) {
    h3.additionalLinks 
      a(href="/admin/page/#{nextPage}") More
  - }