extends layout

block pagecss
  link(rel="stylesheet", href="/static/css/adminpost.css")

block pagejavascript
  script(src="/js/administration.js")

block content
  - if (posts.length == 0) {
    h4 Looks like there's nothing here :(
  - }

  each post in posts
    div(id="post#{post.id}", class="post")
      h3
        a(href="#").postTitle= post.title
      h6.text-muted.small Posted on #{post.dateModified}
      p!= post.content
      h4 
        a(href="#") #{post.comments.length} comments

  - if (more) {
    h3.additionalLinks 
      a(href="/admin/page/#{nextPage}") More
  - }